<div id="top">
  <div id="header">
    <h1>Markdown &rarr; HTML <a href="http://simplydo.com">by Simply Do</a></h1>
  </div>
  <div id="nav">
    <a ng-click="toggleSource()" ng-show="showSource"><strong>Show Document</strong></a>
    <a ng-click="toggleSource()" ng-hide="showSource"><strong>Show Source</strong></a> |
    <a href="http://daringfireball.net/projects/markdown/" target="new">Markdown</a>
    <a href="https://github.com/SimplyDo/markDown" target="new">Github</a>
  </div>
</div>



<div id="editor">
  <textarea ng-model="markDownDocument" id="editMarkDown" class="scale"></textarea>
</div>





<div ng-hide="showSource" class="output rendered">
  <div ng-bind-html-unsafe="convertMarkDown(markDownDocument)" class="scale"></div>
</div>

<div ng-show="showSource" class="output source">
  <div class="scale">{{convertMarkDown(markDownDocument)}}</div>
</div>


